/***Home Page***/

body{
    background-color: white;
    font-family: sans-serif;
    color: green;   
}
#foot{
    color: yellow;
    font-style: italic;
    font-size: medium;    
}
.HomePage{
    text-align: justify
       
}
#my_logo{
    border-bottom-left-radius: 70px;
    float: right;
    width: 180px;
    height: 180px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
nav{
    background-image: url(../images/image-homepage.jpg);
    background-repeat: no-repeat;
    background-position: center -325px;
    background-size: cover;
    height: 250px;
    border-radius: 20px;
}
nav ul{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
nav ul li{
    float: left;
    padding: 15px;
    margin: 40px 3px;
    background-color: #bfb9a0;
}
nav ul a:hover{
    color: white;
}
nav ul li:hover{
    background-color: #cfeb55;
}
.selected{
    background-color: #f3b104;
}
footer{
    clear: both;
    background-color: #8c8674;
}

footer ul li{
    padding: 15px;
    margin: 40px 3px;
    background-color: #bfb9a0;
}

/***Connaught Page ***/

#firstParagraph{   
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#secondParagraph{   
    column-count: 4;
    column-rule: 1px solid  black;
    column-gap: normal;
}
#thirdParagraph{   
    column-count: 4;
    column-rule: 1px solid  black;
    column-gap: normal;
}
#Achill_Island{   
    width: 40%;
    float: inline-end;
    border-radius: 10px;
    border: 2px solid rgb(216, 135, 14);
    margin-right: 5px;
    margin-bottom: 5px;
}

/***Ulster Page ***/

#forthParagraph{   
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#fifthParagraph{  
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#sixthParagraph{   
    column-count: 4;
    column-rule: 1px solid  black;
    column-gap: normal;
}
#Giants_Causeway{   
    width: 40%;
    float: inline-end;
    border-radius: 10px;
    border: 2px solid rgb(216, 135, 14);
    margin-right: 5px;
    margin-bottom: 5px;
}

/***Leinster Page ***/

#seventhParagraph{   
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#eigthParagraph{    
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#ninthParagraph{   
    column-count: 4;
    column-rule: 1px solid  black;
    column-gap: normal;
}
#Kilkenny_Castle{   
    width: 40%;
    float: inline-end;
    border-radius: 10px;
    border: 2px solid rgb(216, 135, 14);
    margin-right: 5px;
    margin-bottom: 5px;
}

/***Munster Page ***/

#tenthParagraph{   
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#eleventhParagraph{    
    column-count: 4;
    column-rule: 1px solid black;
    column-gap: normal;
}
#twelfthParagraph{    
    column-count: 4;
    column-rule: 1px solid  black;
    column-gap: normal;
}
#CliffsOfMoher{   
    width: 40%;
    float: inline-end;
    border-radius: 10px;
    border: 2px solid rgb(216, 135, 14);
    margin-right: 5px;
    margin-bottom: 5px;
}